{% module_block module "widget_a0da0c12-3030-4cab-982c-03e1d7355511" %}
{% module_attribute "child_css" is_json="true" %}{% raw %}{}{% endraw %}{% end_module_attribute %}
{% module_attribute "code" is_json="true" %}{% raw %}"<pre><code>pip install 'crate[sqlalchemy]' crash pandas numpy==1.23.5 matplotlib salesforce-merlion\n</code></pre>"{% endraw %}{% end_module_attribute %}
{% module_attribute "css" is_json="true" %}{% raw %}{}{% endraw %}{% end_module_attribute %}
{% module_attribute "definition_id" is_json="true" %}{% raw %}null{% endraw %}{% end_module_attribute %}
{% module_attribute "field_types" is_json="true" %}{% raw %}{"code":"richtext","language":"choice","line_wraps":"boolean","margin_after_module":"number","show_copy_button":"boolean","show_line_numbers":"boolean"}{% endraw %}{% end_module_attribute %}
{% module_attribute "label" is_json="true" %}{% raw %}null{% endraw %}{% end_module_attribute %}
{% module_attribute "module_id" is_json="true" %}{% raw %}111341816899{% endraw %}{% end_module_attribute %}
{% module_attribute "path" is_json="true" %}{% raw %}"/sf2-crate/modules/Code Block"{% endraw %}{% end_module_attribute %}
{% module_attribute "schema_version" is_json="true" %}{% raw %}2{% endraw %}{% end_module_attribute %}
{% module_attribute "show_copy_button" is_json="true" %}{% raw %}true{% endraw %}{% end_module_attribute %}
{% module_attribute "show_line_numbers" is_json="true" %}{% raw %}true{% endraw %}{% end_module_attribute %}
{% module_attribute "smart_objects" is_json="true" %}{% raw %}null{% endraw %}{% end_module_attribute %}
{% module_attribute "smart_type" is_json="true" %}{% raw %}"NOT_SMART"{% endraw %}{% end_module_attribute %}
{% module_attribute "tag" is_json="true" %}{% raw %}"module"{% endraw %}{% end_module_attribute %}
{% module_attribute "type" is_json="true" %}{% raw %}"module"{% endraw %}{% end_module_attribute %}
{% module_attribute "wrap_field_tag" is_json="true" %}{% raw %}"div"{% endraw %}{% end_module_attribute %}
{% end_module_block %}
